/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
}
.icon-phone,
.icon-email {
  width: 30px;
  height: 30px;
  fill: #fff;
}
.icon-pin {
  width: 10px;
  height: 14px;
}
.icon-arrow_down {
  width: 20px;
  height: 10px;
}
.icon-arrow_left {
  height: 20px;
  width: 20px;
}
.icon-arrow_right {
  height: 20px;
  width: 20px;
}
.icon-arrowlight_left {
  width: 28px;
  height: 42px;
}
.icon-arrowlight_right {
  width: 28px;
  height: 42px;
}
.icon-5stars {
  width: 56px;
  height: 10px;
  color: #FFC64E;
  vertical-align: top;
  margin-left: -4px;
}
.contacts-circle {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  border-radius: 50%;
  background: #00AB8D;
  text-align: center;
  line-height: 25px;
}
.contacts-circle svg {
  vertical-align: middle;
}
.icon-close {
  width: 26px;
  height: 26px;
  margin: -3px;
}
.icon-like_heart {
  width: 40px;
  height: 32px;
}
.icon-like_withtext {
  width: 120px;
  height: 120px;
}
.icon-like_withouttext,
.icon-like_withouttext2 {
  width: 60px;
  height: 60px;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
html,
body {
  width: 100%;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}
@media only screen and (max-width:450px) {
  .mobile-hidden {
    display: none;
  }
}
.slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: transform;
}
.slide.micro {
  height: 433px;
  margin-top: -433px;
  background: #671C3A;
}
@media only screen and (max-width:800px) {
  .slide {
    height: auto;
  }
  .slide.micro {
    display: none;
  }
}
.wrp {
  width: 1160px;
  margin: 0 auto;
}
@media only screen and (max-width:1220px) {
  .wrp {
    width: auto;
    margin: 0 40px;
  }
}
@media only screen and (max-width:800px) {
  .wrp {
    margin: 0 30px;
  }
}
@media only screen and (max-width:450px) {
  .wrp {
    margin: 0 15px;
  }
}
.featured-input {
  position: relative;
  display: inline-block;
}
.featured-input__input {
  background: none;
  border: none;
  position: relative;
  z-index: 3;
}
.featured-input__input:focus {
  outline: none;
}
.featured-input__input::-ms-clear {
  display: none;
}
.featured-input__svg {
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  width: 100%;
  width: calc(100% + 12px);
  height: 70px;
  z-index: 2;
}
.featured-input_154 {
  width: 154px;
}
.featured-input_154 svg {
  width: 170px;
}
.featured-input_194 {
  width: 194px;
}
.featured-input_194 svg {
  width: 210px;
}
.featured-input_254 {
  width: 254px;
}
.featured-input_254 svg {
  width: 270px;
}
.featured-input_block {
  width: 100%;
}
.featured-input_block svg {
  top: -9px;
  width: 100%;
  width: calc(106%);
  height: 100%;
}
.can-move-to-left {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
          transition: transform 0.5s ease-in-out;
}
.can-move-to-left.slide,
.can-move-to-left.comix {
  -webkit-transition: none;
          transition: none;
}
@media only screen and (max-width:800px) {
  .can-move-to-left.slide,
  .can-move-to-left.comix {
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
            transition: transform 0.5s ease-in-out;
  }
}
.moved-to-left {
  -webkit-transform: translateX(-200px);
      -ms-transform: translateX(-200px);
          transform: translateX(-200px);
}
@media only screen and (min-width: 1221px) {
  .showing {
    -webkit-transition: opacity 0.5s ease-in-out, margin-top 0.5s ease-in-out;
            transition: opacity 0.5s ease-in-out, margin-top 0.5s ease-in-out;
    opacity: 0;
    margin-top: 20px;
  }
  .showing.active {
    opacity: 1;
    margin-top: 0;
  }
  .showing-1 {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  .showing-2 {
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
  }
  .showing-3 {
    -webkit-transition-delay: 1.2s;
            transition-delay: 1.2s;
  }
  .showing-4 {
    -webkit-transition-delay: 1.8s;
            transition-delay: 1.8s;
  }
  .showing-5 {
    -webkit-transition-delay: 2.4s;
            transition-delay: 2.4s;
  }
}
@media only screen and (min-width: 1221px) and only screen and (max-width:1220px) {
  .showing {
    opacity: 1;
    margin-top: 0;
  }
}
.cards {
  padding: 70px 0 60px;
  position: relative;
}
@media only screen and (max-width:800px) {
  .cards {
    padding: 0;
  }
}
.cards__slide {
  height: auto;
  z-index: 8;
}
@media only screen and (max-width:800px) {
  .cards__slide {
    background: url(../img/cards.jpg) center center;
  }
}
.cards__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/cards.jpg) center center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-size: cover;
}
@media only screen and (max-width:800px) {
  .cards__bg {
    display: none;
  }
}
.cards__row {
  margin: 0 -20px;
}
.cards__row:before,
.cards__row:after {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}
@media only screen and (max-width:600px) {
  .cards__row {
    margin: 0;
  }
}
.cards__list {
  list-style-type: none;
  margin: 0;
  padding: 0 20px;
  width: 33.33333333%;
  float: left;
}
@media only screen and (max-width:800px) {
  .cards__list {
    width: 50%;
  }
  .cards__list_two-col {
    width: 100%;
  }
}
@media only screen and (max-width:600px) {
  .cards__list {
    width: auto;
    float: none;
    padding: 0;
  }
  .cards__list_two-col {
    width: auto;
  }
}
.cards__item {
  display: block;
  width: 100%;
  margin-bottom: 40px;
  overflow: hidden;
}
@media only screen and (max-width:800px) and (min-width: 601px) {
  .cards__list_two-col .cards__item {
    width: calc(50% - 20px);
    float: left;
  }
  .cards__list_two-col .cards__item:first-child {
    margin-right: 40px;
  }
}
.cards__title {
  text-align: center;
  color: #fff;
  font-size: 38px;
  line-height: 48px;
  font-weight: 400;
  letter-spacing: 0.020em;
}
@media only screen and (max-width:800px) {
  .cards__title {
    font-size: 24px;
    line-height: 30px;
    margin: 1.5em 0 1.2em;
  }
}
.card {
  color: #fff;
  display: table;
  width: 100%;
  background-size: cover;
  background-position: center center;
}
.card_1 {
  height: 340px;
  background: #F47D66;
}
.card_2 {
  height: 430px;
  background-image: url(../img/card_2.jpg);
}
.card_3 {
  height: 470px;
  background: #D0D42F;
}
.card_4 {
  height: 440px;
  background-image: url(../img/card_4.jpg);
}
.card_5 {
  height: 280px;
  background: #FAB58D;
}
.card_6 {
  height: 490px;
  background-image: url(../img/card_6.jpg);
}
.card_7 {
  height: 390px;
  background: #D0D42F;
}
.card_8 {
  height: 330px;
  background-image: url(../img/card_8.jpg);
}
.card_9 {
  height: 460px;
  background-image: url(../img/card_9.jpg);
}
@media only screen and (max-width:600px) {
  .card.card {
    height: auto;
    padding: 30px 0;
  }
}
.card .custom {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.card__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0.8em 0;
  padding: 0 15px;
}
@media only screen and (max-width:1220px) {
  .card__title {
    font-size: 19px;
    line-height: 24px;
  }
}
.card__img {
  max-width: 90%;
}
.card__text {
  font-size: 14px;
  padding: 0 20px;
  line-height: 20px;
}
.card__price {
  margin: 1em 0;
  font-size: 30px;
  line-height: 1;
}
@media only screen and (max-width:800px) {
  .card__price {
    font-size: 24px;
  }
}
.card__price_yellow {
  color: #e6eb99;
}
.card__btn {
  display: block;
  color: #fff;
  font-size: 16px;
  padding: 6px 10px;
  text-decoration: none;
  height: 54px;
  line-height: 40px;
  background: rgba(0, 170, 140, 0.0001);
  border: 2px solid transparent;
  width: 100%;
}
.card__btn + svg {
  stroke: #3EB298;
  fill: #00AA8C;
  -webkit-transition: stroke .3s ease, fill .3s ease;
          transition: stroke .3s ease, fill .3s ease;
}
.card__btn:hover + svg {
  fill: #00b298;
}
.card__btn:focus {
  outline: none;
}
.comix {
  overflow: hidden;
  background: #fff;
  position: relative;
  z-index: 10;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.comix__view-holder {
  width: 400%;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width:800px) {
  .comix__view-holder {
    width: 200%;
  }
}
.comix__view {
  width: 25%;
  float: left;
}
@media only screen and (max-width:800px) {
  .comix__view {
    width: 50%;
    background: none;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
            transition: opacity 0.5s ease-in-out;
  }
  .comix__view:last-child {
    margin-left: -50%;
    z-index: -1;
    position: relative;
  }
  .comix__view.active {
    opacity: 1;
  }
}
.comix__half {
  float: left;
  width: 50%;
  padding: 30px 70px;
}
@media only screen and (max-width:1220px) {
  .comix__half {
    padding: 20px 50px;
  }
}
@media only screen and (max-width:800px) {
  .comix__half {
    float: none;
    width: auto;
    text-align: center;
    padding: 30px 15px;
  }
  .comix__half.green.green:after,
  .comix__half.red.red:after {
    content: none;
  }
}
.comix__half.green {
  background: #CBD244;
}
.comix__half.lime {
  background: #E7EC9A;
}
.comix__half.peach {
  background: #FDAF8B;
}
.comix__half.red {
  background: #F77C6C;
}
.comix__half svg {
  position: absolute;
  height: 100%;
  top: 0;
}
@media only screen and (max-width:800px) {
  .comix__half svg {
    display: none;
  }
}
.comix__half.lime svg {
  fill: #CBD244;
  left: -1px;
}
.comix__half.peach svg {
  fill: #F77C6C;
  right: -1px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.comix__half.lime:after,
.comix__half.red:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  background: #E7EC9A;
  width: 0;
  z-index: 300;
  -webkit-transition: width 0 .5s;
          transition: width 0 .5s;
}
.comix__half.red:after {
  background: #F77C6C;
}
@media only screen and (max-width:800px) {
  .comix__half.lime:after,
  .comix__half.red:after {
    content: none;
  }
}
.comix__view.active .comix__half {
  position: relative;
  z-index: 200;
}
@media only screen and (max-width:800px) {
  .comix__view.active .comix__half {
    position: static;
  }
}
.comix__view-holder.moved-to-left .comix__view.active .comix__half.lime:after,
.comix__view-holder.moved-to-left .comix__view.active .comix__half.red:after {
  width: 200px;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.comix__image {
  max-width: 100%;
}
.green > .comix__image,
.peach > .comix__image {
  float: right;
}
.lime > .comix__image,
.red > .comix__image {
  float: left;
}
@media only screen and (max-width:800px) {
  .comix__image {
    float: none !important;
  }
}
@media only screen and (max-width:800px) {
  .comix__nav {
    height: 40px;
    position: relative;
  }
}
.comix__link {
  display: inline-block;
  width: 50%;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  color: #393a3a;
}
.comix__link.active {
  opacity: .4;
}
@media only screen and (max-width:800px) {
  .comix__link {
    display: block;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: 2;
    -webkit-transition: opacity 0.5s ease-in-out;
            transition: opacity 0.5s ease-in-out;
  }
  .comix__link.active {
    opacity: 0;
    z-index: 1;
  }
}
.contacts {
  color: #fff;
  font-size: 13px;
  line-height: 24px;
  height: 100%;
}
.contacts__title {
  font-size: 24px;
  line-height: 24px;
  margin: 0 0 1em;
}
@media only screen and (max-width:800px) {
  .contacts__title {
    font-size: 19px;
    line-height: 19px;
  }
}
.contacts__slide {
  position: relative;
  z-index: 5;
}
@media only screen and (max-width:1220px) {
  .contacts__slide {
    height: auto;
  }
}
.contacts__map {
  height: 100%;
  position: relative;
}
@media only screen and (max-width:800px) {
  .contacts__map:after {
    content: '';
    position: absolute;
    right: 0;
    width: 30%;
    top: 0;
    bottom: 0;
  }
}
.contacts__footer {
  position: absolute;
  bottom: 0;
}
@media only screen and (max-width:1220px) {
  .contacts__footer {
    position: static;
  }
}
.contacts__table {
  display: table;
  width: 100%;
  table-layout: fixed;
}
@media only screen and (max-width:800px) {
  .contacts__table {
    display: block;
  }
}
.contacts__row {
  display: table-row;
}
@media only screen and (max-width:800px) {
  .contacts__row {
    display: block;
  }
}
.contacts__cell {
  display: table-cell;
  vertical-align: top;
  padding: 40px 20px;
}
@media only screen and (max-width:450px) {
  .contacts__cell {
    padding: 30px 15px;
  }
}
.contacts__cell.middle {
  width: 400px;
  background: #F5856D;
}
.contacts__cell.left {
  background: #CFD330;
}
.contacts__cell.right {
  background: #E13242;
}
.contacts__cell.left > .contacts__cell-inner {
  float: right;
  width: 360px;
}
.contacts__cell.right > .contacts__cell-inner {
  float: left;
  width: 360px;
}
@media only screen and (max-width:1220px) {
  .contacts__cell.middle {
    width: 33.33333333%;
  }
  .contacts__cell.left > .contacts__cell-inner,
  .contacts__cell.right > .contacts__cell-inner {
    float: none;
    width: auto;
  }
}
@media only screen and (max-width:800px) {
  .contacts__cell {
    width: 50%;
  }
  .contacts__cell.middle {
    width: 50%;
  }
  .contacts__cell.right {
    display: block;
    width: 100%;
  }
}
@media only screen and (max-width:450px) {
  .contacts__cell {
    width: auto;
    display: block;
  }
  .contacts__cell.middle,
  .contacts__cell.right {
    width: auto;
  }
}
.contacts__description {
  margin-bottom: 3em;
}
.contacts__address {
  display: block;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #fff;
  text-decoration: none;
  margin-top: 1.3em;
  overflow: hidden;
}
@media only screen and (max-width:800px) {
  .contacts__address {
    font-size: 14px;
    line-height: 20px;
  }
}
.contacts__address > span {
  float: left;
}
.contacts__address-inner {
  padding-left: 40px;
}
.contacts__address-inner.phone {
  padding-top: 3px;
}
.contacts__info {
  line-height: 15px;
  overflow: hidden;
  padding: 25px 0;
  display: block;
  color: #fff;
  text-decoration: none;
  -webkit-transition: opacity .2s ease;
          transition: opacity .2s ease;
}
.contacts__info:first-child {
  padding-top: 0;
}
.contacts__info + .contacts__info {
  border-top: 1px solid #E6625C;
}
.contacts__info-img {
  float: left;
}
.contacts__info-number {
  float: left;
  font-size: 32px;
  line-height: 1;
}
.contacts__info-inner {
  padding-left: 80px;
  display: block;
}
.contacts__info-inner.rating {
  padding-top: 17px;
  padding-left: 78px;
}
@media only screen and (max-width:450px) {
  .contacts__info-inner.rating {
    padding-top: 6px;
  }
}
.contacts__info-inner.link {
  padding-left: 60px;
}
.contacts__info-status {
  float: left;
  width: 50px;
  padding-top: 8px;
}
.contacts__info-status svg {
  display: block;
}
.contacts__info-status span {
  float: none;
}
.contacts__bottom {
  padding: 10px 0;
  background: #671C3A;
  overflow: hidden;
}
.contacts__bottom-left {
  float: left;
}
@media only screen and (max-width:600px) {
  .contacts__bottom-left {
    display: none;
  }
}
.contacts__bottom-right {
  float: right;
  width: 33.33333333%;
  padding: 0 25px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: opacity .2s ease;
          transition: opacity .2s ease;
}
.contacts__bottom-right:hover {
  opacity: 0.8;
}
.contacts__bottom-right img {
  vertical-align: middle;
  margin-right: 10px;
}
@media only screen and (max-width:800px) {
  .contacts__bottom-right {
    width: 50%;
    padding: 0;
  }
}
@media only screen and (max-width:600px) {
  .contacts__bottom-right {
    float: none;
    width: auto;
  }
}
a.contacts__info:hover {
  opacity: .8;
}
@-webkit-keyframes arrowupdown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes arrowupdown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes largeround {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
  10% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 1;
  }
  20% {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
  }
  30% {
    -webkit-transform: scale(1.9);
            transform: scale(1.9);
  }
  40% {
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes largeround {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
  10% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 1;
  }
  20% {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
  }
  30% {
    -webkit-transform: scale(1.9);
            transform: scale(1.9);
  }
  40% {
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes middleround {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
  10% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 1;
  }
  30% {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
  }
  40% {
    -webkit-transform: scale(1.9);
            transform: scale(1.9);
  }
  50% {
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes middleround {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
  10% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 1;
  }
  30% {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
  }
  40% {
    -webkit-transform: scale(1.9);
            transform: scale(1.9);
  }
  50% {
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes smallround {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 1;
  }
  40% {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
  }
  50% {
    -webkit-transform: scale(1.9);
            transform: scale(1.9);
  }
  60% {
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes smallround {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 1;
  }
  40% {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
  }
  50% {
    -webkit-transform: scale(1.9);
            transform: scale(1.9);
  }
  60% {
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.phone-circle {
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin: -14px 0 0 -14px;
  border: 1px solid #049D83;
  border-radius: 50%;
}
.home {
  background: url(../img/main.jpg) center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.home__slide {
  z-index: 9;
}
.home__phone {
  position: absolute;
  top: 30px;
  left: 50px;
  text-decoration: none;
  color: #fff;
  z-index: 10;
}
.home__slide.animate .home__phone svg:before {
  -webkit-animation: largeround 3s infinite ease;
          animation: largeround 3s infinite ease;
}
@media only screen and (max-width:800px) {
  .home__phone {
    top: 12px;
    left: 12px;
  }
}
.home__phone-icon {
  display: inline-block;
  border-radius: 50%;
  position: relative;
  border: 1px solid transarent;
  width: 44px;
  height: 44px;
  padding: 6px;
  z-index: 3;
  margin-right: 10px;
}
.home__phone-icon:before,
.home__phone-icon:after {
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin: -14px 0 0 -14px;
  border: 1px solid #049D83;
  border-radius: 50%;
}
.home__phone-icon svg {
  background: #049D83;
  border-radius: 50%;
  position: relative;
  z-index: 5;
}
.home__phone-icon svg:before {
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin: -14px 0 0 -14px;
  border: 1px solid #049D83;
  border-radius: 50%;
}
.home__slide.animate .home__phone-icon:before {
  -webkit-animation: smallround 3s infinite ease;
          animation: smallround 3s infinite ease;
}
.home__slide.animate .home__phone-icon:after {
  -webkit-animation: middleround 3s infinite ease;
          animation: middleround 3s infinite ease;
}
.home__phone-time {
  background: rgba(0, 171, 141, 0.8);
  border-radius: 2px;
  padding: 5px 20px;
  margin-left: 1em;
  font-size: 12px;
  font-weight: 600;
}
@media only screen and (max-width:450px) {
  .home__phone-time {
    display: none;
  }
}
.home__content {
  text-align: center;
  color: #fff;
  position: relative;
  height: 100%;
}
.home__logo {
  position: absolute;
  left: 50%;
  top: 10%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
@media only screen and (max-width:800px) {
  .home__logo {
    position: static;
    margin: 6em 0 3em;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}
.home__slogan {
  font-size: 38px;
  line-height: 48px;
  font-weight: 400;
  letter-spacing: 0.020em;
  position: absolute;
  top: 46%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media only screen and (max-width:800px) {
  .home__slogan {
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    font-size: 24px;
    line-height: 30px;
  }
}
.home__callme {
  position: absolute;
  top: 72%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 0;
  width: 100%;
}
@media only screen and (max-width:800px) {
  .home__callme {
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    margin: 3em 0;
    padding: 0 10px;
  }
}
.home__next {
  display: block;
  text-decoration: none;
  color: #fff;
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: none;
  border: none;
}
.home__next:focus {
  outline: none;
}
.home__next:focus .home__next-icon {
  color: #00AA8C;
}
.home__next span {
  display: block;
  margin-bottom: 1em;
}
@media only screen and (max-width:800px) {
  .home__next {
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    margin: 2em auto;
  }
}
.home__next-icon {
  -webkit-transition: fill 0.3s ease-in-out;
          transition: fill 0.3s ease-in-out;
}
.home__slide.animate .home__next-icon {
  -webkit-animation: arrowupdown 1.6s infinite ease-in-out;
          animation: arrowupdown 1.6s infinite ease-in-out;
}
.callme__text {
  margin-bottom: 1.5em;
}
@media only screen and (max-width:800px) {
  .callme__text {
    font-size: 14px;
  }
}
.callme__phone {
  background: transparent;
  border: 2px solid transparent;
  border-radius: 2px;
  padding: 0 12px;
  height: 54px;
  width: 294px;
  font-size: 28px;
  vertical-align: middle;
  margin-right: .5em;
  text-align: center;
}
.callme__phone:focus {
  outline: none;
}
.callme__phone::-webkit-input-placeholder {
  color: #ffffff;
}
.callme__phone:-moz-placeholder {
  color: #ffffff;
}
.callme__phone::-moz-placeholder {
  color: #ffffff;
}
.callme__phone:-ms-input-placeholder {
  color: #ffffff;
}
.callme__phone + svg {
  stroke: #E7EC9D;
  -webkit-transition: stroke .3s ease;
          transition: stroke .3s ease;
}
.callme__phone:focus + svg {
  stroke: #3EB298;
}
@media only screen and (max-width:450px) {
  .callme__phone {
    width: 100%;
  }
}
.callme .delimeter {
  width: 2px;
  display: inline-block;
  height: 10px;
}
@media only screen and (max-width:600px) {
  .callme .delimeter {
    display: block;
    margin: 1em 0;
  }
}
.callme__btn {
  background: rgba(0, 170, 140, 0.0001);
  border: 2px solid transparent;
  height: 54px;
  text-align: center;
  padding: 7px 10px 6px;
  font-size: 16px;
  font-weight: 400;
  vertical-align: middle;
  width: 100%;
}
.callme__btn + svg {
  stroke: #3EB298;
  fill: #00AA8C;
  -webkit-transition: stroke .3s ease, fill .3s ease;
          transition: stroke .3s ease, fill .3s ease;
}
.callme__btn:hover + svg {
  fill: #00b298;
}
.callme__btn:focus {
  outline: none;
}
.svg-holder {
  display: inline-block;
  width: 370px;
  height: 80px;
}
.svg-holder svg {
  width: 100%;
  height: 100%;
}
.menu {
  position: fixed;
  top: 0;
  right: 50px;
  height: 100%;
  width: 22px;
  z-index: 100;
  background: rgba(0, 0, 0, 0);
}
.menu.animated {
  -webkit-transition: 0.5s width ease-in-out, background 0.5s ease-in-out;
          transition: 0.5s width ease-in-out, background 0.5s ease-in-out;
}
@media only screen and (max-width:1220px) {
  .menu {
    right: 20px;
  }
}
@media only screen and (max-width:800px) {
  .menu {
    right: 0;
    width: 0;
  }
}
.menu.active {
  width: 200px;
  background: rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width:800px) {
  .menu.active {
    background: #671c3a url(../img/bg_mobile-menu.jpg) center center no-repeat;
    background-size: cover;
  }
}
.menu__icon {
  position: absolute;
  left: -70px;
  top: 20px;
  z-index: 100;
  border: none;
  background: none;
  color: #fff;
  width: 75px;
  height: 75px;
  padding: 20px;
}
.menu__icon:focus {
  outline: none;
}
@media only screen and (max-width:800px) {
  .menu__icon {
    top: 20px;
  }
}
.menu__up,
.menu__down {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5px;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjIwIj48cmVjdCB4PSIyIiB5PSI0IiBmaWxsPSIjZmZmIiBmaWxsLW9wYWNpdHk9Ii43IiB3aWR0aD0iMSIgaGVpZ2h0PSIxNiIvPjxjaXJjbGUgZmlsbD0iI2ZmZiIgY3g9IjIuNSIgY3k9IjIuNSIgcj0iMi41Ii8+PC9zdmc+');
}
@media only screen and (max-width:800px) {
  .menu__up,
  .menu__down {
    background: none;
  }
}
.menu__up {
  left: -2px;
}
.menu__down {
  right: -2px;
  opacity: .7;
  background-position: 0 -5px;
}
.menu__list {
  list-style: none;
  position: absolute;
  top: 50%;
  right: 0;
  margin: -100px 0 0;
  padding: 0;
  opacity: 0;
  -webkit-transform: scaleX(0.01) translateX(120%);
      -ms-transform: scaleX(0.01) translateX(120%);
          transform: scaleX(0.01) translateX(120%);
  width: 200px;
}
.menu.animated .menu__list {
  -webkit-transition: opacity 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
          transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.menu.active .menu__list {
  opacity: 1;
  -webkit-transform: scaleX(1) translateX(0);
      -ms-transform: scaleX(1) translateX(0);
          transform: scaleX(1) translateX(0);
}
.menu__item {
  padding: 0 0;
  -webkit-transform: scaleY(0.01) translateY(-100%);
      -ms-transform: scaleY(0.01) translateY(-100%);
          transform: scaleY(0.01) translateY(-100%);
  opacity: 0;
}
.menu.animated .menu__item {
  -webkit-transition: 0.2s -webkit-transform ease-in-out, 0.2s opacity ease-in-out;
          transition: 0.2s transform ease-in-out, 0.2s opacity ease-in-out;
}
.menu.active .menu__item {
  opacity: 1;
  -webkit-transform: scaleY(1) translateY(0);
      -ms-transform: scaleY(1) translateY(0);
          transform: scaleY(1) translateY(0);
}
.menu.active .menu__item:nth-child(1) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.menu.active .menu__item:nth-child(2) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.menu.active .menu__item:nth-child(3) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.menu.active .menu__item:nth-child(4) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
.menu.active .menu__item:nth-child(5) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.menu__link {
  display: block;
  padding: 0.6em 20px;
  text-decoration: none;
  color: #fff;
}
.menu.animated .menu__link {
  -webkit-transition: color .3s ease;
          transition: color .3s ease;
}
.menu__link:hover {
  color: #049D83;
}
@media only screen and (max-width:800px) {
  .menu__link {
    padding: .8em 20px;
  }
}
.menu__icon {
  cursor: pointer;
}
.menu__icon span,
.menu__icon span:before,
.menu__icon span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 35px;
  background: currentColor;
  position: absolute;
  display: block;
  content: '';
}
.menu.animated .menu__icon span,
.menu.animated .menu__icon span:before,
.menu.animated .menu__icon span:after {
  -webkit-transition: all 500ms ease-in-out;
          transition: all 500ms ease-in-out;
}
.menu__icon span:before {
  top: -10px;
}
.menu__icon span:after {
  bottom: -10px;
}
.menu.active .menu__icon span {
  background-color: transparent;
}
.menu.active .menu__icon span:before {
  -webkit-transform: rotate(45deg) translateY(14px);
      -ms-transform: rotate(45deg) translateY(14px);
          transform: rotate(45deg) translateY(14px);
}
.menu.active .menu__icon span:after {
  -webkit-transform: rotate(-45deg) translateY(-14px);
      -ms-transform: rotate(-45deg) translateY(-14px);
          transform: rotate(-45deg) translateY(-14px);
}
.popup {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  display: none;
}
@media only screen and (max-width:800px) {
  .popup {
    position: absolute;
  }
}
.popup__helpers {
  display: none;
}
.popup.opened {
  display: block;
  transition-propery: display;
  transiton-delay: 5s;
}
.popup__bg {
  width: 100%;
  height: 100%;
  background: #00AA8C;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: opacity 0.5s ease-in-out;
          transition: opacity 0.5s ease-in-out;
  position: fixed;
}
.popup.opened .popup__bg {
  opacity: 0.9;
}
.popup__box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 440px;
}
@media only screen and (max-width:450px) {
  .popup__box {
    width: 90%;
  }
}
.popup__header {
  margin-bottom: -1px;
}
.popup__filler {
  background: #D0D42F;
  height: 52px;
  margin-right: 52px;
}
.popup__corner {
  width: 92px;
  height: 92px;
  top: -21px;
  right: -21px;
  position: absolute;
  z-index: 1002;
}
.popup__close {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  z-index: 1001;
  border: none;
  background: none;
  padding: 0;
}
.popup__close.front {
  z-index: 1003;
}
.popup__close:focus {
  outline: none;
  color: #D0D42F;
}
.popup__body {
  background: #D0D42F;
  color: #fff;
  text-align: center;
  padding: 0 40px 40px;
  font-size: 14px;
}
@media only screen and (max-width:450px) {
  .popup__body {
    padding: 0 20px 40px;
  }
}
.popup__img {
  margin-top: -20px;
}
.popup__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  margin: 15px 0;
}
.popup__form {
  color: #3a3a3a;
}
.popup__form input,
.popup__form textarea {
  width: 100%;
  border: none;
  margin-bottom: 20px;
  border-radius: 2px;
  padding: 16px;
}
.popup__form input {
  width: 100%;
  padding: 8px 16px;
}
.popup__form .phone {
  font-size: 24px;
  height: 52px;
  text-align: center;
}
.popup__form textarea {
  width: 100%;
  resize: none;
  height: 100px;
}
.popup__text {
  color: #fff;
}
.popup__footer {
  margin-top: 1em;
  color: #fff;
  font-size: 14px;
  text-align: center;
}
.reviews {
  text-align: center;
  color: #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  padding: 50px 0;
}
.reviews .wrp {
  position: relative;
  height: 100%;
}
.reviews__slide {
  background-size: cover;
  z-index: 7;
  box-sizing: content-box;
  padding-top: 100px;
}
.reviews__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/reviews.jpg) center center;
  background-size: cover;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
@media only screen and (max-width:800px) {
  .reviews__bg {
    display: none;
  }
}
.reviews__titles {
  position: absolute;
  top: 14%;
  left: 0;
  width: 100%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
@media only screen and (max-width:800px) {
  .reviews__titles {
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    margin: 3em 0;
  }
}
.reviews__title {
  font-size: 38px;
  font-weight: 400;
  letter-spacing: 0.020em;
  margin: 0 0 0.4em;
}
@media only screen and (max-width:800px) {
  .reviews__title {
    font-size: 24px;
    line-height: 30px;
  }
}
.reviews__subtitle {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.020em;
}
@media only screen and (max-width:800px) {
  .reviews__subtitle {
    font-size: 14px;
    line-height: 24px;
    color: #f6f1b9;
  }
}
.reviews__holder {
  position: absolute;
  top: 56%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
}
@media only screen and (max-width:800px) {
  .reviews__holder {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    margin: 3em 0;
    width: auto;
    margin: 80px 0 0;
  }
}
.reviews__items {
  zoom: 1;
}
.reviews__items:before,
.reviews__items:after {
  content: "";
  display: table;
}
.reviews__items:after {
  clear: both;
}
.reviews__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 5000%;
}
.reviews__item {
  float: left;
  width: 2%;
  opacity: 0;
  visibility: visible;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0 0.5s;
          transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.reviews__item.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
@media only screen and (max-width:800px) {
  .reviews__buttons {
    position: relative;
    height: 60px;
  }
}
.reviews__slider-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 70px;
  text-align: center;
  color: #fff;
  border: none;
  background: none;
  -webkit-transition: opacity 0.5s ease-in-out;
          transition: opacity 0.5s ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
@media only screen and (max-width:800px) {
  .reviews__slider-btn {
    width: 50%;
    height: 100%;
  }
}
.reviews__slider-btn:hover {
  opacity: .8;
}
.reviews__slider-btn:focus {
  outline: none;
  opacity: .7;
}
.reviews__slider-btn svg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -14px 0 0 -16px;
}
.reviews__prev {
  right: 100%;
}
@media only screen and (max-width:800px) {
  .reviews__prev {
    right: 50%;
  }
}
.reviews__next {
  left: 100%;
}
@media only screen and (max-width:800px) {
  .reviews__next {
    left: 50%;
  }
}
.reviews__btn-holder {
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media only screen and (max-width:800px) {
  .reviews__btn-holder {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    margin: 1em 0 2em;
  }
}
.reviews__btn {
  background: rgba(0, 170, 140, 0.0001);
  border: 2px solid transparent;
  height: 54px;
  text-align: center;
  padding: 7px 10px 6px;
  font-size: 16px;
  font-weight: 400;
  vertical-align: middle;
  width: 100%;
}
.reviews__btn + svg {
  stroke: #3EB298;
  fill: #00AA8C;
  -webkit-transition: stroke .3s ease, fill .3s ease;
          transition: stroke .3s ease, fill .3s ease;
}
.reviews__btn:hover + svg {
  fill: #00b298;
}
.reviews__btn:focus {
  outline: none;
}
.review__icons {
  height: 0;
}
@media only screen and (max-width:800px) {
  .review__icons {
    display: none;
  }
}
.review__icons .icon {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: -webkit-transform 0.5s 0.3s ease-in-out, opacity 0.5s 0.3s ease-in-out;
          transition: transform 0.5s 0.3s ease-in-out, opacity 0.5s 0.3s ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.review__main {
  background: rgba(208, 212, 47, 0.9);
  padding: 0 30px 30px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.02em;
  position: relative;
}
@media only screen and (max-width:800px) {
  .review__main {
    font-size: 14px;
    line-height: 24px;
  }
}
.review__avatar {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 2px solid #D0D42F;
  margin: -65px 0 1em;
}
.reviews__item.active .icon {
  opacity: 1;
}
.reviews__item.active .icon_left {
  -webkit-transform: translate(-200px, -90px);
      -ms-transform: translate(-200px, -90px);
          transform: translate(-200px, -90px);
}
.reviews__item.active .icon_right {
  -webkit-transform: translate(180px, -100px);
      -ms-transform: translate(180px, -100px);
          transform: translate(180px, -100px);
}
.reviews__item.active .icon0.icon_left {
  -webkit-transform: translate(-110px, -70px);
      -ms-transform: translate(-110px, -70px);
          transform: translate(-110px, -70px);
}
.reviews__item.active .icon0.icon_right {
  -webkit-transform: translate(130px, -70px);
      -ms-transform: translate(130px, -70px);
          transform: translate(130px, -70px);
}
.reviews__item.active .icon1.icon_left {
  -webkit-transform: translate(-150px, -80px);
      -ms-transform: translate(-150px, -80px);
          transform: translate(-150px, -80px);
}
.reviews__item.active .icon1.icon_right {
  -webkit-transform: translate(100px, -80px);
      -ms-transform: translate(100px, -80px);
          transform: translate(100px, -80px);
}
.reviews__item.active .icon2.icon_left {
  -webkit-transform: translate(-160px, -60px);
      -ms-transform: translate(-160px, -60px);
          transform: translate(-160px, -60px);
}
.reviews__item.active .icon2.icon_right {
  -webkit-transform: translate(110px, -60px);
      -ms-transform: translate(110px, -60px);
          transform: translate(110px, -60px);
}
.reviews__item.active .icon3.icon_left {
  -webkit-transform: translate(-200px, -96px);
      -ms-transform: translate(-200px, -96px);
          transform: translate(-200px, -96px);
}
.reviews__item.active .icon3.icon_right {
  -webkit-transform: translate(120px, -90px);
      -ms-transform: translate(120px, -90px);
          transform: translate(120px, -90px);
}

/* jQuery Growl
 * Copyright 2015 Kevin Sylvestre
 * 1.2.5
 */
#growls {
  z-index: 50000;
  position: fixed;
}
#growls.default {
  top: 10px;
  right: 10px;
}
#growls.tl {
  top: 10px;
  left: 10px;
}
#growls.tr {
  top: 10px;
  right: 10px;
}
#growls.bl {
  bottom: 10px;
  left: 10px;
}
#growls.br {
  bottom: 10px;
  right: 10px;
}
#growls.tc {
  top: 10px;
  right: 10px;
  left: 10px;
}
#growls.bc {
  bottom: 10px;
  right: 10px;
  left: 10px;
}
#growls.tc .growl,
#growls.bc .growl {
  margin-left: auto;
  margin-right: auto;
}
.growl {
  opacity: 0.8;
  filter: alpha(opacity=80);
  position: relative;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.growl.growl-incoming {
  opacity: 0;
  filter: alpha(opacity=0);
}
.growl.growl-outgoing {
  opacity: 0;
  filter: alpha(opacity=0);
}
.growl.growl-small {
  width: 200px;
  padding: 5px;
  margin: 5px;
}
.growl.growl-medium {
  width: 250px;
  padding: 10px;
  margin: 10px;
}
.growl.growl-large {
  width: 300px;
  padding: 15px;
  margin: 15px;
}
.growl.growl-default {
  color: #FFF;
  background: #7f8c8d;
}
.growl.growl-error {
  color: #FFF;
  background: #C0392B;
}
.growl.growl-notice {
  color: #FFF;
  background: #2ECC71;
}
.growl.growl-warning {
  color: #FFF;
  background: #F39C12;
}
.growl .growl-close {
  cursor: pointer;
  float: right;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  font-family: helvetica, verdana, sans-serif;
}
.growl .growl-title {
  font-size: 18px;
  line-height: 24px;
}
.growl .growl-message {
  font-size: 14px;
  line-height: 18px;
}

/*# sourceMappingURL=main.css.map */