.icon{
	display: inline-block;
	vertical-align: middle;
	fill: currentColor;
}
.icon-phone,
.icon-email{
	width: 30px;
	height: 30px;
	fill: #fff;
}
.icon-pin{
	width: 10px;
	height: 14px;
}
.icon-arrow_down{
	width: 20px;
	height: 10px;
}
.icon-arrow_left{
	height: 20px;
	width: 20px;
}
.icon-arrow_right{
	height: 20px;
	width: 20px;
}
.icon-arrowlight_left{
	width: 28px;
	height: 42px;
}
.icon-arrowlight_right{
	width: 28px;
	height: 42px;
}
.icon-5stars{
	width: 56px;
	height: 10px;
	color: #FFC64E;
	vertical-align: top;
	margin-left: -4px;
}
.contacts-circle{
	display: inline-block;
	width: 30px;
	height: 30px;
	vertical-align: middle;
	border-radius: 50%;
	background: #00AB8D;
	text-align: center;
	line-height: 25px;
	svg{
		vertical-align: middle;
	}
}
.icon-close{
	width: 26px;
	height: 26px;
	margin: -3px;
}
.icon-like_heart{
	width: 40px;
	height: 32px;
}
.icon-like_withtext{
	width: 120px;
	height: 120px;
}
.icon-like_withouttext,
.icon-like_withouttext2{
	width: 60px;
	height: 60px;
}
