.placeholder(@rules) {
	&::-webkit-input-placeholder {
		@rules();
	}
	&:-moz-placeholder {
		@rules();
	}
	&::-moz-placeholder {
		@rules();
	}
	&:-ms-input-placeholder {
		@rules();
	}
}
.clearfix{
  zoom:1;
  &:before, &:after{ content:""; display:table; }
  &:after{ clear: both; }
}
@Tablet: ~'only screen and (max-width:1220px)';
@MobileLandscape: ~'only screen and (max-width:800px)';
@MobileMiddle: ~'only screen and (max-width:600px)';
@MobilePortrait: ~'only screen and (max-width:450px)';
html,
body{
	width: 100%;
	height: 100%;
}
*,*:before,*:after{
	box-sizing: inherit;
}
body{
	box-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,button,textarea{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}
.mobile-hidden{
	@media @MobilePortrait{
		display: none;
	}
}
.slide{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	backface-visibility: hidden;
	will-change: transform;
	&.micro{
		height: 433px;
		margin-top: -433px;
		background: #671C3A;
	}
	@media @MobileLandscape{
		height: auto;
		&.micro{
			display: none;
		}
	}
}
.wrp{
	width: 1160px;
	margin: 0 auto;
	@media @Tablet{
		width: auto;
		margin: 0 40px;
	}
	@media @MobileLandscape{
		margin: 0 30px;
	}
	@media @MobilePortrait{
		margin: 0 15px;
	}
}
.featured-input{
	position: relative;
	display: inline-block;
	&__input{
		background: none;
		border: none;
		position: relative;
		z-index: 3;
		&:focus{
			outline: none;
		}
		&::-ms-clear {
			display: none;
		}
	}
	&__svg{
		position: absolute;
		top: -6px;
		left: -6px;
		bottom: -6px;
		right: -6px;
		width: 100%;
		width: calc(~'100% + 12px');
		height: 70px;
		z-index: 2;
	}
	
	&_154{
		width: 154px;
		svg{
			width: 170px;
		}
	}
	&_194{
		width: 194px;
		svg{
			width: 210px;
		}
	}
	&_254{
		width: 254px;
		svg{
			width: 270px;
		}
	}
	&_block{
		width: 100%;
		svg{
			top: -9px;
			width: 100%;
			width: calc(100%+6px);
			height: 100%;
		}
	}
}
.can-move-to-left{
	transition: transform .5s ease-in-out;
}
.can-move-to-left.slide,
.can-move-to-left.comix{
	transition: none;
	@media @MobileLandscape{
		transition: transform .5s ease-in-out;
	}
}
.moved-to-left{
	transform: translateX(-200px);
}
@media only screen and (min-width:1221px){
.showing{
	transition: opacity .5s ease-in-out, margin-top .5s ease-in-out;
	opacity: 0;
	margin-top: 20px;
	@media @Tablet{
		opacity: 1;
		margin-top: 0;
	}
	&.active{
		opacity: 1;
		margin-top: 0;
	}
	&-1{transition-delay: 0*0.6s;}
	&-2{transition-delay: 1*0.6s;}
	&-3{transition-delay: 2*0.6s;}
	&-4{transition-delay: 3*0.6s;}
	&-5{transition-delay: 4*0.6s;}
}
}