.cards{
	padding: 70px 0 60px;
	position: relative;
	@media @MobileLandscape{
		padding: 0;
	}
	&__slide{
		height: auto;
		z-index: 8;
		@media @MobileLandscape{
			background: url(../img/cards.jpg) center center;
		}
	}
	&__bg{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url(../img/cards.jpg) center center;
		backface-visibility: hidden;
		background-size: cover;
		@media @MobileLandscape{
			display: none;
		}
	}
	&__row{
		margin: 0 -20px;
		&:before,
		&:after{
			content: '';
			display: table;
			width: 100%;
			clear: both;
		}
		@media @MobileMiddle{
			margin: 0;
		}
	}
	&__list{
		list-style-type: none;
		margin: 0;
		padding: 0 20px;
		width: (100/3)*1%;
		float: left;
		@media @MobileLandscape{
			width: 50%;
			&_two-col{
				width: 100%;
			}
		}
		@media @MobileMiddle{
			width: auto;
			float: none;
			padding: 0;
			&_two-col{
				width: auto;
			}
		}
	}
	&__item{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		overflow: hidden;
	}
	&__list_two-col &__item{
		@media @MobileLandscape and (min-width:601px){
			width: calc(~'50% - 20px');
			float: left;
			&:first-child{
				margin-right: 40px;
			}
		}
	}
	&__title{
		text-align: center;
		color: #fff;
		font-size: 38px;
		line-height: 48px;
		font-weight: 400;
		letter-spacing: 0.020em;
		@media @MobileLandscape{
			font-size: 24px;
			line-height: 30px;
			margin: 1.5em 0 1.2em;
		}
	}
}
.card{
	color: #fff;
	display: table;
	width: 100%;
	background-size: cover;
	background-position: center center;
	&_1{
		height: 340px;
		background: #F47D66;
	}
	&_2{
		height: 430px;
		background-image: url(../img/card_2.jpg);
	}
	&_3{
		height: 470px;
		background: #D0D42F;
	}
	&_4{
		height: 440px;
		background-image: url(../img/card_4.jpg);
	}
	&_5{
		height: 280px;
		background: #FAB58D;
	}
	&_6{
		height: 490px;
		background-image: url(../img/card_6.jpg);
	}
	&_7{
		height: 390px;
		background: #D0D42F;
	}
	&_8{
		height: 330px;
		background-image: url(../img/card_8.jpg);
	}
	&_9{
		height: 460px;
		background-image: url(../img/card_9.jpg);
	}
	@media @MobileMiddle{
		&&{
			height: auto;
			padding: 30px 0;
		}
	}
	.custom{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
	&__title{
		font-size: 24px;
		line-height: 30px;
		font-weight: 700;
		margin: 0.8em 0;
		padding: 0 15px;
		@media @Tablet{
			font-size: 19px;
			line-height: 24px;
		}
	}
	&__img{
		max-width: 90%;
	}
	&__text{
		font-size: 14px;
		padding: 0 20px;
		line-height: 20px;
	}
	&__price{
		margin: 1em 0;
		font-size: 30px;
		line-height: 1;
		@media @MobileLandscape{
			font-size: 24px;
		}
	}
	&__price_yellow{
		color: #e6eb99;
	}
	&__btn{
		display: block;
		color: #fff;
		font-size: 16px;
		padding: 6px 10px;
		text-decoration: none;
		height: 54px;
		line-height: 40px;
		// background: #00AA8C;
		// border: 2px solid #3EB298;
		background: fade(#00AA8C, 0.01%);
		border: 2px solid transparent;
		width: 100%;
		&+svg{
			stroke: #3EB298;
			fill: #00AA8C;
			transition: stroke .3s ease, fill .3s ease;
		}
		&:hover+svg{
			fill: #00b298;
		}
		&:focus{
			outline: none;
		}
		&:focus+svg{
			// stroke: #fff;
		}
	}
}