.comix{
	overflow: hidden;
	background: #fff;
	position: relative;
	z-index: 10;
	backface-visibility: hidden;
	&__view-holder{
		width: 400%;
		position: relative;
		overflow: hidden;
		@media @MobileLandscape{
			width: 200%;
		}
	}
	&__view{
		width: 25%;
		float: left;
		@media @MobileLandscape{
			width: 50%;
			background: none;
			opacity: 0;
			transition: opacity .5s ease-in-out;
			&:last-child{
				margin-left: -50%;
				z-index: -1;
				position: relative;
			}
			&.active{
				opacity: 1;
			}
		}
	}
	&__line{
		
	}
	&__half{
		float: left;
		width: 50%;
		padding: 30px 70px;
		@media @Tablet{
			padding: 20px 50px;
		}
		@media @MobileLandscape{
			float: none;
			width: auto;
			text-align: center;
			padding: 30px 15px;
			&.green.green:after,
			&.red.red:after{
				content: none;
			}
		}
		&.green{
			background: #CBD244;
		}
		&.lime{
			background: #E7EC9A;
		}
		&.peach{
			background: #FDAF8B;
		}
		&.red{
			background: #F77C6C;
		}
		svg{
			position: absolute;
			height: 100%;
			top: 0;
			@media @MobileLandscape{
				display: none;
			}
		}
		&.lime svg{
			fill: #CBD244;
			left: -1px;
		}
		&.peach svg{
			fill: #F77C6C;
			right: -1px;
			transform: rotate(180deg);
		}
		&.lime:after,
		&.red:after{
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 100%;
			background: #E7EC9A;
			z-index: 300;
			width: 0;
			z-index: 300;
			transition: width 0 .5s;
		}
		&.red:after{
			background: #F77C6C;
		}
		@media @MobileLandscape{
			&.lime:after,
			&.red:after{
				content: none;
			}
		}
	}
	&__view.active &__half{
		position: relative;
		z-index: 200;
		@media @MobileLandscape{
			position: static;

		}
	}
	&__view-holder.moved-to-left &__view.active &__half.lime:after,
	&__view-holder.moved-to-left &__view.active &__half.red:after{
		width: 200px;
		transition-delay: 0;
	}
	&__image{
		max-width: 100%;
		.green>&,
		.peach>&{
			float: right;
		}
		.lime>&,
		.red>&{
			float: left;
		}
		@media @MobileLandscape{
			float: none !important;
		}
	}
	&__nav{
		@media @MobileLandscape{
			height: 40px;
			position: relative;
		}
	}
	&__link{
		display: inline-block;
		width: 50%;
		padding: 10px;
		text-align: center;
		font-size: 14px;
		text-decoration: none;
		color: #393a3a;
		&.active{
			opacity: .4;
		}
		@media @MobileLandscape{
			display: block;
			width: auto;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			opacity: 1;
			z-index: 2;
			transition: opacity .5s ease-in-out;
			&.active{
				opacity: 0;
				z-index: 1;
			}
		}
	}
	&__link_prev{}
	&__link_next{}
}

