.contacts{
	color: #fff;
	font-size: 13px;
	line-height: 24px;
	height: 100%;
	&__title{
		font-size: 24px;
		line-height: 24px;
		margin: 0 0 1em;
		@media @MobileLandscape{
			font-size: 19px;
			line-height: 19px;
		}
	}
	&__slide{
		position: relative;
		z-index: 5;
		@media @Tablet{
			height: auto;
		}
	}
	&__map{
		height: 100%;
		position: relative;
		@media @MobileLandscape{
			&:after{
				content:'';
				position: absolute;
				right: 0;
				width: 30%;
				top: 0;
				bottom: 0;
			}
		}
	}

	&__footer{
		position: absolute;
		bottom: 0;
		@media @Tablet{
			position: static;
		}
	}
	&__table{
		display: table;
		width: 100%;
		table-layout: fixed;
		@media @MobileLandscape{
			display: block;
		}
	}
	&__row{
		display: table-row;
		@media @MobileLandscape{
			display: block;
		}
	}
	&__cell{
		display: table-cell;
		vertical-align: top;
		padding: 40px 20px;
		@media @MobilePortrait{
			padding: 30px 15px;
		}
		&.middle{
			width: 400px;
			background: #F5856D;
		}
		&.left{
			background: #CFD330;
		}
		&.right{
			background: #E13242;
		}
		&.left>&-inner{
			float: right;
			width: 360px;
		}
		&.right>&-inner{
			float: left;
			width: 360px;
		}
		@media @Tablet{
			&.middle{
				width: (100/3)*1%;
			}
			&.left>&-inner,
			&.right>&-inner{
				float: none;
				width: auto;
			}
		}
		@media @MobileLandscape{
			width: 50%;
			&.middle{
				width: 50%;
			}
			&.right{
				display: block;
				width: 100%;
			}
		}
		@media @MobilePortrait{
			width: auto;
			display: block;
			&.middle,
			&.right{
				width: auto;
			}
		}
	}
	&__description{
		margin-bottom: 3em;
	}
	&__address{
		display: block;
		font-size: 18px;
		line-height: 24px;
		letter-spacing: 0.02em;
		color: #fff;
		text-decoration: none;
		margin-top: 1.3em;
		overflow: hidden;
		@media @MobileLandscape{
			font-size: 14px;
			line-height: 20px;
		}
		&>span{
			float: left;
		}
		&-inner{
			padding-left: 40px;
			&.phone{
				padding-top: 3px;
			}
		}
	}
	&__info{
		line-height: 15px;
		overflow: hidden;
		padding: 25px 0;
		display: block;
		color: #fff;
		text-decoration: none;
		transition: opacity .2s ease;
		&:first-child{
			padding-top: 0;
		}
		&+&{
			border-top: 1px solid #E6625C;
		}
		&-img{
			float: left;
		}
		&-number{
			float: left;
			font-size: 32px;
			line-height: 1;
		}
		&-inner{
			padding-left: 80px;
			display: block;
			&.rating{
				padding-top: 17px;
				padding-left: 78px;
				@media @MobilePortrait{
					padding-top: 6px;
				}
			}
			&.link{
				padding-left: 60px;
			}
		}
		&-status{
			float: left;
			width: 50px;
			padding-top: 8px;
			svg{
				display: block;
			}
			span{
				float: none;
			}
		}

	}
	&__bottom{
		padding: 10px 0;
		background: #671C3A;
		overflow: hidden;
		&-left{
			float: left;
			@media @MobileMiddle{
				display: none;
			}
		}
		&-right{
			float: right;
			width: 100/3*1%;
			padding: 0 25px;
			color: #fff;
			text-decoration: none;
			transition: opacity .2s ease;
			&:hover{
				opacity: 0.8;
			}
			img{
				vertical-align: middle;
				margin-right: 10px;
			}
			@media @MobileLandscape{
				width: 50%;
				padding: 0;
			}
			@media @MobileMiddle{
				float: none;
				width: auto;
			}
		}
	}
}
a.contacts__info:hover{
	opacity: .8;
}