@keyframes arrowupdown{
	0%{
		transform: translateY(0);
		// fill: #fff;
	}
	50%{
		transform: translateY(-10px);
		// fill: #00AA8C;
	}
	100%{
		transform: translateY(0);
		// fill: #fff;
	}
}
@keyframes largeround{
	0%{
		transform: scale(1);
		opacity: 0;
	}
	10%{
		transform: scale(1.4);
		opacity: 1;
	}
	20%{
		transform: scale(1.7);
	}
	30%{
		transform: scale(1.9);
	}
	40%{
		opacity: 0;
	}
	100%{
		transform: scale(1);
	}
}
@keyframes middleround{
	0%{
		transform: scale(1);
		opacity: 0;
	}
	10%{
		transform: scale(1);
	}
	20%{
		transform: scale(1.4);
		opacity: 1;
	}
	30%{
		transform: scale(1.7);
	}
	40%{
		transform: scale(1.9);
	}
	50%{
		opacity: 0;
	}
	100%{
		transform: scale(1);
	}
}
@keyframes smallround{
	0%{
		transform: scale(1);
	}
	20%{
		transform: scale(1);
	}
	30%{
		transform: scale(1.4);
		opacity: 1;
	}
	40%{
		transform: scale(1.7);
	}
	50%{
		transform: scale(1.9);
	}
	60%{
		opacity: 0;
	}
	100%{
		transform: scale(1);
	}
}
.phone-circle{
	content: '';
	position: absolute;
	width: 26px;
	height: 26px;
	z-index: 1;
	top: 50%;
	left: 50%;
	margin: -14px 0 0 -14px;
	border: 1px solid #049D83;
	border-radius: 50%;
}
.home{
	background: url(../img/main.jpg) center center;
	background-size: cover;
	width: 100%;
	height: 100%;
	overflow: hidden;
	&__slide{
		z-index: 9;
		// height: 80%;
	}
	&__phone{
		position: absolute;
		top: 30px;
		left: 50px;
		text-decoration: none;
		color: #fff;
		z-index: 10;
		svg:before{
			// 1
			.home__slide.animate &{
				animation: largeround 3s infinite ease;
			}
		}
		@media @MobileLandscape{
			top: 12px;
			left: 12px;
		}
	}
	&__phone-icon{
		display: inline-block;
		border-radius: 50%;
		position: relative;		
		border: 1px solid transarent;
		width: 44px;
		height: 44px;
		padding: 6px;
		z-index: 3;
		margin-right: 10px;
		&:before,
		&:after{
			.phone-circle();
		}
		svg{
			background: #049D83;
			border-radius: 50%;
			position: relative;
			z-index: 5;
			&:before{
				.phone-circle();
			}
		}
		&:before{
			// 3
			.home__slide.animate &{
				animation: smallround 3s infinite ease;
			}
		}
		&:after{
			// 2
			.home__slide.animate &{
				animation: middleround 3s infinite ease;
			}
		}
	}
	&__phone-text{
		
	}
	&__phone-time{
		background: fade(#00AB8D, 80%);
		border-radius: 2px;
		padding: 5px 20px;
		margin-left: 1em;
		font-size: 12px;
		font-weight: 600;
		@media @MobilePortrait{
			display: none;
		}
	}
	&__content{
		text-align: center;
		color: #fff;
		position: relative;
		height: 100%;
	}
	&__logo{
		position: absolute;
		left: 50%;
		top: 10%;
		transform: translate(-50%, 0);
		@media @MobileLandscape{
			position: static;
			margin: 6em 0 3em;
			transform: none;
		}
	}
	&__slogan{
		font-size: 38px;
		line-height: 48px;
		font-weight: 400;
		letter-spacing: 0.020em;
		position: absolute;
		top: 46%;
		transform: translateY(-50%);
		@media @MobileLandscape{
			position: static;
			transform: none;
			font-size: 24px;
			line-height: 30px;
		}
	}
	&__callme{
		position: absolute;
		top: 72%;
		transform: translate(0, -50%);
		left: 0;
		width: 100%;
		@media @MobileLandscape{
			position: static;
			transform: none;
			margin: 3em 0;
			padding: 0 10px;
		}
	}
	&__next{
		display: block;
		text-decoration: none;
		color: #fff;
		position: absolute;
		bottom: 5%;
		left: 50%;
		transform: translateX(-50%);
		background: none;
		border: none;
		&:focus{
			outline: none;
			.home__next-icon{
				color: #00AA8C;
			}
		}
		span{
			display: block;
			margin-bottom: 1em;
		}
		@media @MobileLandscape{
			position: static;
			transform: none;
			margin: 2em auto;
		}
	}
	&__next-icon{
		transition: fill .3s ease-in-out;
		.home__slide.animate &{
			animation: arrowupdown 1.6s infinite ease-in-out;
		}
	}
}
.callme{
	&__text{
		margin-bottom: 1.5em;
		@media @MobileLandscape{
			font-size: 14px;
		}
	}
	&__phone{
		background: transparent;
		border: 2px solid transparent;
		border-radius: 2px;
		padding: 0 12px;
		height: 54px;
		width: 294px;
		font-size: 28px;
		vertical-align: middle;
		margin-right: .5em;
		text-align: center;
		&:focus{
			outline: none;
			// border-color: #3EB298;
		}
		.placeholder({color: #fff});
		&+svg{
			stroke: #E7EC9D;
			transition: stroke .3s ease;
		}
		&:focus+svg{
			stroke: #3EB298;
		}
		@media @MobilePortrait{
			width: 100%;
		}
	}
	.delimeter{
		width: 2px;
		display: inline-block;
		height: 10px;
	}
	@media @MobileMiddle{
		.delimeter{
			display: block;
			margin: 1em 0;
		}
	}
}
.callme__btn{
	background: fade(#00AA8C, 0.01%);
	border: 2px solid transparent;
	height: 54px;
	text-align: center;
	padding: 7px 10px 6px;
	font-size: 16px;
	font-weight: 400;
	vertical-align: middle;
	width: 100%;
	&+svg{
		stroke: #3EB298;
		fill: #00AA8C;
		transition: stroke .3s ease, fill .3s ease;
	}
	&:hover+svg{
		fill: #00b298;
	}
	&:focus{
		outline: none;
	}
	&:focus+svg{
		// stroke: #fff;
	}
}
.svg-holder{
	display: inline-block;
	width: 370px;
	height: 80px;
	svg{
		width: 100%;
		height: 100%;
	}
}