.menuDelay(@counter) when (@counter > 0) {
	.menuDelay((@counter - 1));
	&:nth-child(@{counter}){
		transition-delay: (0.2s * @counter);	
	}
}
.menu{
	position: fixed;
	top: 0;
	right: 50px;
	height: 100%;
	width: 22px;
	z-index: 100;
	background: rgba(0,0,0,0);
	&.animated{
		transition: .5s width ease-in-out, background .5s ease-in-out;
	}
	@media @Tablet{
		right: 20px;
	}
	@media @MobileLandscape{
		right: 0;
		width: 0;
	}
	&.active{
		width: 200px;
		background: rgba(0, 0, 0, 0.3);
		@media @MobileLandscape{
			background: #671C3A url(../img/bg_mobile-menu.jpg) center center no-repeat;
			background-size: cover;
		}
	}
	&__icon{
		position: absolute;
		left: -70px;
		top: 20px;
		z-index: 100;
		border: none;
		background: none;
		color: #fff;
		width: 75px;
		height: 75px;
		padding: 20px;

		&:focus{
			outline: none;
		}
		@media @MobileLandscape{
			top: 20px;
		}
	}
	&__up,
	&__down{
		position: absolute;
		top: 0;
		bottom: 0;
		width: 5px;
		background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjIwIj48cmVjdCB4PSIyIiB5PSI0IiBmaWxsPSIjZmZmIiBmaWxsLW9wYWNpdHk9Ii43IiB3aWR0aD0iMSIgaGVpZ2h0PSIxNiIvPjxjaXJjbGUgZmlsbD0iI2ZmZiIgY3g9IjIuNSIgY3k9IjIuNSIgcj0iMi41Ii8+PC9zdmc+');
		@media @MobileLandscape{
			background: none;
		}
	}
	&__up{
		left: -2px;
	}
	&__down{
		right: -2px;
		opacity: .7;
		background-position: 0 -5px;
	}
	&__list{
		list-style: none;
		position: absolute;
		top: 50%;
		right: 0;
		margin: -100px 0 0;
		padding: 0;
		opacity: 0;
		transform: scaleX(0.01) translateX(120%);
		width: 200px;
		.menu.animated &{
			transition: opacity .5s ease-in-out, transform .5s ease-in-out;
		}
		.menu.active &{
			opacity: 1;
			transform: scaleX(1) translateX(0);
		}
	}
	&__item{
		padding: 0 0;
		transform: scaleY(0.01) translateY(-100%);
		opacity: 0;
		.menu.animated &{
			transition: 0.2s transform ease-in-out, .2s opacity ease-in-out;
		}
		.menu.active &{
			.menuDelay(5);
			opacity: 1;
			transform: scaleY(1) translateY(0);
		}
	}
	&__link{
		display: block;
		padding: 0.6em 20px;
		text-decoration: none;
		color: #fff;
		.menu.animated &{
			transition: color .3s ease;
		}
		&:hover{
			color: #049D83;
		}
		@media @MobileLandscape{
			padding: .8em 20px;
		}
	}
}

.menu__icon {
	cursor: pointer;
}
.menu__icon span,
.menu__icon span:before,
.menu__icon span:after {
	cursor: pointer;
	border-radius: 1px;
	height: 3px;
	width: 35px;
	background: currentColor;
	position: absolute;
	display: block;
	content: '';
}
.menu.animated .menu__icon span,
.menu.animated .menu__icon span:before,
.menu.animated .menu__icon span:after {
	transition: all 500ms ease-in-out;
}
.menu__icon span:before {
	top: -10px; 
}
.menu__icon span:after {
	bottom: -10px;
}
.menu.active .menu__icon{
	span {
		background-color: transparent;
		&:before {
			transform: rotate(45deg) translateY(14px);
		}
		&:after {
			transform: rotate(-45deg) translateY(-14px);
		}
	}
} 