.popup{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1000;
	display: none;
	@media @MobileLandscape{
		position: absolute;
	}
	&__helpers{
		display: none;
	}
	&.opened{
		display: block;
		transition-propery: display;
		transiton-delay: 5s;
	}
	&__bg{
		width: 100%;
		height: 100%;
		background: #00AA8C;
		opacity: 0;
		cursor: pointer;
		transition: opacity .5s ease-in-out;
		position: fixed;
	}
	&.opened &__bg{
		opacity: 0.9;
	}
	&__box{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 440px;
		@media @MobilePortrait{
			width: 90%;
			// transform: translate(-50%, 0);
			// top: 15px;
		}
	}
	&.opened &__box{

	}
	&__header{
		margin-bottom: -1px;
	}
	&__filler{
		background: #D0D42F;
		height: 52px;
		margin-right: 52px;
	}
	&__corner{
		width: 92px;
		height: 92px;
		top: -21px;
		right: -21px;
		position: absolute;
		z-index: 1002;
	}
	&__close{
		position: absolute;
		top: 0;
		right: 0;
		color: #fff;
		z-index: 1001;
		border: none;
		background: none;
		padding: 0;
		&.front{
			z-index: 1003;
		}
		&:focus{
			outline: none;
			color: #D0D42F;
		}
	}
	&__body{
		background: #D0D42F;
		color: #fff;
		text-align: center;
		padding: 0 40px 40px;
		font-size: 14px;
		@media @MobilePortrait{
			padding: 0 20px 40px;
		}
	}
	&__img{
		margin-top: -20px;
	}
	&__title{
		font-size: 20px;
		line-height: 24px;
		font-weight: 600;
		margin: 15px 0;
	}
	&__form{
		color: #3a3a3a;
		input,textarea{
			width: 100%;
			border: none;
			margin-bottom: 20px;
			border-radius: 2px;
			padding: 16px;
		}
		input{
			width: 100%;
			padding: 8px 16px;
		}
		.phone{
			font-size: 24px;
			height: 52px;
			text-align: center;
		}
		textarea{
			width: 100%;
			resize: none;
			height: 100px;
		}
	}
	&__text{
		color: #fff;
	}
	&__footer{
		margin-top: 1em;
		color: #fff;
		font-size: 14px;
		text-align: center;
	}
}