.reviews{
	text-align: center;
	color: #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	box-sizing: border-box;
	padding: 50px 0;
	.wrp{
		position: relative;
		height: 100%;
	}
	&__slide{
		// background: url(../img/reviews.jpg) center top;
		background-size: cover;
		z-index: 7;
		box-sizing: content-box;
		padding-top: 100px;
	}
	&__bg{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url(../img/reviews.jpg) center center;
		background-size: cover;
		backface-visibility: hidden;
		@media @MobileLandscape{
			display: none;
		}
	}
	&__titles{
		position: absolute;
		top: 14%;
		left: 0;
		width: 100%;
		transform: translate(0, -50%);
		@media @MobileLandscape{
			position: static;
			transform: none;
			margin: 3em 0;
		}
	}
	&__title{
		font-size: 38px;
		font-weight: 400;
		letter-spacing: 0.020em;
		margin: 0 0 0.4em;
		@media @MobileLandscape{
			font-size: 24px;
			line-height: 30px;
		}
	}
	&__subtitle{
		font-size: 18px;
		font-weight: 400;
		letter-spacing: 0.020em;
		@media @MobileLandscape{
			font-size: 14px;
			line-height: 24px;
			color: #f6f1b9;
		}
	}
	&__holder{
		position: absolute;
		top: 56%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 60%;
		@media @MobileLandscape{
			position: relative;
			top: 0;
			left: 0;
			transform: none;
			margin: 3em 0;
			width: auto;
			margin: 80px 0 0;
		}
	}
	&__items{
		.clearfix();
	}
	&__list{
		list-style: none;
		margin: 0;
		padding: 0;
		width: 5000%;
	}
	&__item{
		float: left;
		width: 2%;
		opacity: 0;
		visibility: visible;
		transform: scale(0.8);
		transition: transform .5s ease-in-out, opacity .5s ease-in-out, visibility 0 .5s;
		backface-visibility: hidden;
		&.active{
			opacity: 1;
			visibility: visible;
			transform: scale(1);
		}
	}
	&__buttons{
		@media @MobileLandscape{
			position: relative;
			height: 60px;
		}
	}
	&__slider-btn{
		position: absolute;
		top: 0;
		bottom: 0;
		width: 70px;
		text-align: center;
		color: #fff;
		border: none;
		background: none;
		transition: opacity .5s ease-in-out;
		backface-visibility: hidden;
		@media @MobileLandscape{
			width: 50%;
			height: 100%;
		}
		&:hover{
			opacity: .8;
		}
		&:focus{
			outline: none;
			opacity: .7;
		}
		svg{
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -14px 0 0 -16px;
		}
	}
	&__prev{
		right: 100%;
		@media @MobileLandscape{
			right: 50%;
		}
	}
	&__next{
		left: 100%;
		@media @MobileLandscape{
			left: 50%;
		}
	}
	&__btn-holder{
		position: absolute;
		top: 90%;
		left: 50%;
		transform: translate(-50%,-50%);
		@media @MobileLandscape{
			position: relative;
			top: 0;
			left: 0;
			transform: none;
			margin: 1em 0 2em;
		}
	}
	&__btn{
		.callme__btn();
	}
}
.review{
	&__icons{
		height: 0;
		@media @MobileLandscape{
			display: none;
		}
		.icon{
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%,-50%);
			opacity: 0;
			transition: transform .5s .3s ease-in-out, opacity .5s .3s ease-in-out;
			backface-visibility: hidden;
		}
	}
	&__main{
		background: fade(#D0D42F, 90%);
		padding: 0 30px 30px;
		font-size: 18px;
		line-height: 24px;
		letter-spacing: 0.02em;
		position: relative;
		@media @MobileLandscape{
			font-size: 14px;
			line-height: 24px;
		}
	}
	&__avatar{
		width: 130px;
		height: 130px;
		border-radius: 50%;
		border: 2px solid #D0D42F;
		margin: -65px 0 1em;
	}
	&__name{}
	&__text{}
}
.reviews__item.active{
	.icon{
		opacity: 1;
	}
	.icon_left{
		transform: translate(-200px, -90px);
	}
	.icon_right{
		transform: translate(180px, -100px);
	}
	.icon0.icon_left{  transform: translate(-110px, -70px); } //
	.icon0.icon_right{ transform: translate(130px, -70px);  } //
	.icon1.icon_left{  transform: translate(-150px, -80px); } //
	.icon1.icon_right{ transform: translate(100px, -80px);  } //
	.icon2.icon_left{  transform: translate(-160px, -60px); } //
	.icon2.icon_right{ transform: translate(110px, -60px);  } //
	.icon3.icon_left{  transform: translate(-200px, -96px); } //
	.icon3.icon_right{ transform: translate(120px, -90px);  } //
}