include mixins
doctype html
//[if IE 8]><html class="no-js ie-8" lang="ru"><![endif]
//[if IE 9]><html class="no-js ie-9" lang="ru"><![endif]
//[if (gt IE 9)|!(IE)]><!
html(lang="ru")
	//<![endif]
	head
		meta(charset='UTF-8')
		title «Сити жалюзи»
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="description", content="default description")
		meta(name="viewport", content="width=device-width,initial-scale=1,minimum-scale=1")
		meta(name="format-detection", content="telephone=no")
		link(rel="icon", href="/favicon/favicon16.png", sizes="16x16")
		link(rel="icon", href="/favicon/favicon32.png", sizes="32x32")
		link(rel="icon", href="/favicon/favicon57.png", sizes="57x57")
		link(rel="icon", href="/favicon/favicon72.png", sizes="72x72")
		link(rel="icon", href="/favicon/favicon152.png", sizes="152x152")
		link(rel="apple-touch-icon-precomposed", href="favicon/favicon152.png")
		link(rel="stylesheet", href="css/main.css")
		script(src="/js/modernizr.js")
		script(src="/js/svg4everybody.min.js")
		//[if (lt IE 9)]
			script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
			script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
	body(class="js-app")
		aside.menu.animated#menu_toggle
			button.menu__icon: span
			div.menu__up
			div.menu__down
			ul.menu__list
				li.menu__item
					a(href="#About_us").menu__link.active О Сити Жалюзи
				li.menu__item
					a(href="#How_are_we_work").menu__link Как мы работаем
				li.menu__item
					a(href="#Advantages").menu__link Наши преимущества
				li.menu__item
					a(href="#Reviews").menu__link Отзывы
				li.menu__item
					a(href="#Contacts").menu__link Контакты
		//- main
		.slide.home__slide.can-move-to-left#About_us
			include blocks/main
		//- comix
		include blocks/comix
		//- cards
		.slide.cards__slide.can-move-to-left#Advantages
			include blocks/cards
		//- reviews
		.slide.reviews__slide.can-move-to-left#Reviews
			include blocks/reviews
		//- map and contacts
		.slide.contacts__slide.can-move-to-left#Contacts
			include blocks/contacts
		.slide.micro
		include blocks/popup
		style.
			@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700|Roboto+Condensed&subset=latin,cyrillic);
			body{
				font-family: Roboto, sans-sanrif;
			}
			.condensed{
				font-family: 'Roboto Condensed', sans-serif;
			}
		script.
			//- DEBUG_MODE = true;
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
		script.
			window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')
		script(src='js/plugins.js')
		script(src='js/main.js')
