- var social_icons = ['like_heart','like_withouttext','like_withouttext2','like_withtext']
mixin icon(icon, className)
	svg(class="icon #{className}")
		use(xlink:href='img/icons.svg##{icon}')
mixin stars(value, isDisabled, elId, color)
	div(class="stars #{(color)?'stars_' + color :''} #{isDisabled?'stars_disabled':''}")
		- for(var i=1; i<=5; i++)
			input.stars__input(
				id="#{elId}_#{i}", type="radio", name="#{elId}", value="#{i}", disabled=isDisabled, checked=(i==value))
			label(for="#{elId}_#{i}").stars__item
				+icon('star', 'stars__svg')
mixin social_icon(num, pos)
	+icon(social_icons[num], 'icon'+num+ ' icon-'+social_icons[num] + ' icon_'+pos)