.cards__bg
article.cards
	.wrp.can-move-to-left
		h2.cards__title.condensed.showing.showing-1 Наши преимущества
		div.cards__row
			ul.cards__list
				li.cards__item
					section.card.card_1.showing.showing-2
						//- fuck you joomla
						.custom
							img.card__img(src="img/money@2x.png", width="110")
							h3.card__title Экономьте 18% 
							p.card__text Применение упрощенной системы налогообложения, освобождает нас от уплаты других налогов, поэтому мы предлагаем жалюзи и рольставни на 18% дешевле чем удругих.
				li.cards__item
					section.card.card_2.showing.showing-3
						//- fuck you joomla
						.custom
							h3.card__title Вертикальные жалюзи
							p.card__text Алюминиевые, пластиковые, тканевые
							.card__price.card__price_yellow от 495 р.
							span.featured-input.featured-input_194(data-active="M202,59c0,1.104-1.896,3-3,3c0,0-76,5-94,5s-94-5-94-5c-1.104,0-3-1.896-3-3c0,0-5-6-5-24s5-24,5-24c0-1.104,1.896-3,3-3c0,0,76-5,94-5s94,5,94,5c1.104,0,3,1.896,3,3c0,0,5,6,5,24S202,59,202,59z")
								button.card__btn.featured-input__input.popupBtn(data-type="phone", data-header="Узнать больше", data-text="бла-бла") Узнать больше
								svg(viewBox="0 0 210 70", preserveAspectRatio="xMinYMin").featured-input__svg
									path(stroke-width="2", d="M201,59c0,1.104-0.896,2-2,2h-94H11c-1.104,0-2-0.896-2-2V35V11c0-1.104,0.896-2,2-2h94h94c1.104,0,2,0.896,2,2v24V59z")
				li.cards__item
					section.card.card_3.showing.showing-4
						//- fuck you joomla
						.custom
							h3.card__title Жалюзи мираж
							p.card__text Это цветные плотные полоски ткани (ламели) шириной 25/55мм между 2-мя слоями тонкой вуали.
							img.card__img(src="img/zhaluzi_mirazh@2x.png", width="260")
							.card__price от 3540 р.
							span.featured-input.featured-input_194(data-active="M202,59c0,1.104-1.896,3-3,3c0,0-76,5-94,5s-94-5-94-5c-1.104,0-3-1.896-3-3c0,0-5-6-5-24s5-24,5-24c0-1.104,1.896-3,3-3c0,0,76-5,94-5s94,5,94,5c1.104,0,3,1.896,3,3c0,0,5,6,5,24S202,59,202,59z")
								button.card__btn.featured-input__input.popupBtn(data-type="phone", data-header="Заказать") Заказать
								svg(viewBox="0 0 210 70", preserveAspectRatio="xMinYMin").featured-input__svg
									path(stroke-width="2", d="M201,59c0,1.104-0.896,2-2,2h-94H11c-1.104,0-2-0.896-2-2V35V11c0-1.104,0.896-2,2-2h94h94c1.104,0,2,0.896,2,2v24V59z")
			ul.cards__list
				li.cards__item
					section.card.card_4.showing.showing-2
						//- fuck you joomla
						.custom
							h3.card__title Экологичные деревянные жалюзи
							.card__price.card__price_yellow от 3450 р.
							span.featured-input.featured-input_194(data-active="M202,59c0,1.104-1.896,3-3,3c0,0-76,5-94,5s-94-5-94-5c-1.104,0-3-1.896-3-3c0,0-5-6-5-24s5-24,5-24c0-1.104,1.896-3,3-3c0,0,76-5,94-5s94,5,94,5c1.104,0,3,1.896,3,3c0,0,5,6,5,24S202,59,202,59z")
								button.card__btn.featured-input__input.popupBtn(data-type="phone", data-header="Заказать") Заказать
								svg(viewBox="0 0 210 70", preserveAspectRatio="xMinYMin").featured-input__svg
									path(stroke-width="2", d="M201,59c0,1.104-0.896,2-2,2h-94H11c-1.104,0-2-0.896-2-2V35V11c0-1.104,0.896-2,2-2h94h94c1.104,0,2,0.896,2,2v24V59z")
				li.cards__item
					section.card.card_5.showing.showing-3
						//- fuck you joomla
						.custom
							img.card__img(src="img/warranty@2x.png", width="64")
							h3.card__title Гарантия до 3 лет
							p.card__text Гарантия на продукцию и установку до 3 лет, в течение которой бесплатно и без лишних вопросов решим все проблемы
				li.cards__item
					section.card.card_6.showing.showing-4
						//- fuck you joomla
						.custom
							h3.card__title Рулонные жалюзи
							p.card__text Используются ткани как экономичные так и эксклюзивные из разных стран
							.card__price.card__price_yellow от 1086 р.
							span.featured-input.featured-input_194(data-active="M202,59c0,1.104-1.896,3-3,3c0,0-76,5-94,5s-94-5-94-5c-1.104,0-3-1.896-3-3c0,0-5-6-5-24s5-24,5-24c0-1.104,1.896-3,3-3c0,0,76-5,94-5s94,5,94,5c1.104,0,3,1.896,3,3c0,0,5,6,5,24S202,59,202,59z")
								button.card__btn.featured-input__input.popupBtn(data-type="phone", data-header="Заказать в 1 клик") Заказать в 1 клик
								svg(viewBox="0 0 210 70", preserveAspectRatio="xMinYMin").featured-input__svg
									path(stroke-width="2", d="M201,59c0,1.104-0.896,2-2,2h-94H11c-1.104,0-2-0.896-2-2V35V11c0-1.104,0.896-2,2-2h94h94c1.104,0,2,0.896,2,2v24V59z")
			ul.cards__list.cards__list_two-col
				li.cards__item
					section.card.card_7.showing.showing-2
						//- fuck you joomla
						.custom
							img.card__img(src="img/bottle@2x.png", width="34")
							h3.card__title Безопасно для детей
							p.card__text В Сити Жалюзи серьезно относятся к безопасности детей. Мы предлагаем вам множество компонентов, которые обезопасят вашего ребенка от висячих шнуров и петель. Наш дружный коллектив всегда даст вам полезные советы для комфортного и безопасного использования жалюзи.
				li.cards__item
					section.card.card_8.showing.showing-3
						//- fuck you joomla
						.custom
							h3.card__title Горизонтальные жалюзи
							p.card__text Алюминиевые, пластиковые, бамбуковые
							.card__price.card__price_yellow от 795 р.
							span.featured-input.featured-input_194(data-active="M202,59c0,1.104-1.896,3-3,3c0,0-76,5-94,5s-94-5-94-5c-1.104,0-3-1.896-3-3c0,0-5-6-5-24s5-24,5-24c0-1.104,1.896-3,3-3c0,0,76-5,94-5s94,5,94,5c1.104,0,3,1.896,3,3c0,0,5,6,5,24S202,59,202,59z")
								button.card__btn.featured-input__input.popupBtn(data-type="phone", data-header="Узнать больше") Узнать больше
								svg(viewBox="0 0 210 70", preserveAspectRatio="xMinYMin").featured-input__svg
									path(stroke-width="2", d="M201,59c0,1.104-0.896,2-2,2h-94H11c-1.104,0-2-0.896-2-2V35V11c0-1.104,0.896-2,2-2h94h94c1.104,0,2,0.896,2,2v24V59z")
				li.cards__item
					section.card.card_9.showing.showing-4
						//- fuck you joomla
						.custom
							h3.card__title Жалюзи Зебра
							p.card__text Двойная ткань с чередованием горизонтальных плотных и прозрачных полосок. легко регулирует свет за счет совпадений разных по плотности полосок.
							.card__price.card__price_yellow от 1163 р.
							span.featured-input.featured-input_194(data-active="M202,59c0,1.104-1.896,3-3,3c0,0-76,5-94,5s-94-5-94-5c-1.104,0-3-1.896-3-3c0,0-5-6-5-24s5-24,5-24c0-1.104,1.896-3,3-3c0,0,76-5,94-5s94,5,94,5c1.104,0,3,1.896,3,3c0,0,5,6,5,24S202,59,202,59z")
								button.card__btn.featured-input__input.popupBtn(data-type="phone", data-header="Узнать больше") Узнать больше
								svg(viewBox="0 0 210 70", preserveAspectRatio="xMinYMin").featured-input__svg
									path(stroke-width="2", d="M201,59c0,1.104-0.896,2-2,2h-94H11c-1.104,0-2-0.896-2-2V35V11c0-1.104,0.896-2,2-2h94h94c1.104,0,2,0.896,2,2v24V59z")
