.comix#How_are_we_work.can-move-to-left
	.comix__view-holder.can-move-to-left
		#costomer_comix.comix__view.active
			.comix__line.first
				.comix__half.green
					img(src="img/comix1_slide1.jpg").comix__image
				.comix__half.lime
					img(src="img/comix1_slide2.jpg").comix__image
					svg(viewBox="0 0 50 300", preserveAspectRatio="xMinYMin")
						path(d="M50,0H0v300")
			.comix__line.second
				.comix__half.peach
					img(src="img/comix1_slide3.jpg").comix__image
					svg(viewBox="0 0 50 300", preserveAspectRatio="xMinYMin")
						path(d="M50,0H0v300")
				.comix__half.red
					img(src="img/comix1_slide4.jpg").comix__image
		#company_comix.comix__view
			.comix__line.first
				.comix__half.green
					img(src="img/comix2_slide1.jpg").comix__image
				.comix__half.lime
					img(src="img/comix2_slide2.jpg").comix__image
					svg(viewBox="0 0 50 300", preserveAspectRatio="xMinYMin")
						path(d="M50,0H0v300")
			.comix__line.second
				.comix__half.peach
					img(src="img/comix2_slide3.jpg").comix__image
					svg(viewBox="0 0 50 300", preserveAspectRatio="xMinYMin")
						path(d="M50,0H0v300")
				.comix__half.red
					img(src="img/comix2_slide4.jpg").comix__image
	.comix__nav
		.wrp.can-move-to-left
			a(href="#costomer_comix").comix__link.comix__link_prev.active
				svg.comix__link-svg.icon-arrow_left.icon
					use(xlink:href="img/icons.svg#arrow_left")
				span.comix__link-text Как Вы видите нашу работу
			a(href="#company_comix").comix__link.comix__link_next
				span.comix__link-text Как мы видим нашу работу
				svg.comix__link-svg.icon-arrow_right.icon
					use(xlink:href="img/icons.svg#arrow_right")