.contacts
	#mapHolder.contacts__map
	footer.contacts__footer
		.contacts__table
			.contacts__row
				.contacts__cell.left
					.contacts__cell-inner
						h3.contacts__title.condensed Контакты
						p.contacts__description У нас нет дорогих офисов, но мы с удовольствием приглашаем посетить цех по сборке ежедневно с 9 до 21 по адресу:
						.contacts__address
							span.contacts-circle
								svg.icon.icon-pin
									use(xlink:href="/img/icons.svg#pin")
							div.contacts__address-inner
								| 109369, Москва, Новочеркасский бульвар, д.41/3
						a(href="tel:+74955427698").contacts__address
							span.contacts-circle
								svg.icon.icon-phone
									use(xlink:href="/img/icons.svg#phone")
							div.contacts__address-inner.phone
								| +7 (495) 542-76-98
						a(href="mailto:info@city-jaluzi.ru").contacts__email
							span.contacts-circle
								svg.icon.icon-email
									use(xlink:href="/img/icons.svg#email")
							div.contacts__address-inner.phone
								| info@city-jaluzi.ru
				.contacts__cell.middle
					div
						h3.contacts__title.condensed Реквизиты
						p
							| ООО "Авалон"
							br
							| Юр. адрес: 125195, Москва, ул. Смольная, д.51, 
							br
							| корп.1
							br
							| ИНН/КПП: 7743877771/774301001
							br
							| ОГРН: 1137746090371
							br
							| Банк ОАО «БАНК УРАЛСИБ»
							br
							| р/сч: 40702810300280000180
							br
							| к/сч: 30101810100000000787
							br
							| БИК: 044525787
							br
							| ОКПО: 17154718
				.contacts__cell.right
					.contacts__cell-inner
						h3.contacts__title.condensed Информация
						a(href="http://market.zakupki.mos.ru/Supplier/Supplier?supplierId=1592035&from=sp_api_1_iregistered", target="_blank").contacts__info
							img.contacts__info-img(src="/img/rating.png", width="57", height="57")
							span.contacts__info-inner
								span.contacts__info-status
									svg.icon.icon-5stars
										use(xlink:href="/img/icons.svg#5stars")
									span.contacts__info-number.condensed 5,61
								span.contacts__info-inner.rating
									| Наш рейтинг
									br
									| на портале поставщиков
						.contacts__info
							img.contacts__info-img(src="/img/money2.png", width="56", height="26")
							.contacts__info-inner
								| Предоплата:
								br
								| 20-30% при оплате наличными,
								br
								| 100% – за безналичный расчёт.
						.contacts__info
							span.contacts__info-number.condensed - 5%
							.contacts__info-inner
								| Расскажите о нас друзьям
								br
								| и получите 5% скидку
		.contacts__bottom
			.wrp
				.contacts__bottom-left
					| Сити-жалюзи™. 2015 г
				a(href="http://brainmaze.net").contacts__bottom-right
					img(src="/img/brain@2x.png", width="20", height="21")
					| разработано командой brainmaze.net