.home
	a(href="tel:+74955427698").home__phone.can-move-to-left
		.home__phone-icon
			svg.icon.icon-phone
				use(xlink:href="img/icons.svg#phone")
		span.home__phone-text +7 (495) 542-76-98
		span.home__phone-time 9-21ч
	.wrp.home__content.can-move-to-left
		.home__logo.showing.showing-1(role="banner")
			img(src="img/logo.png")
		.home__slogan.condensed.showing.showing-2
			| Мы изготавливаем жалюзи из тысячи красивых и экологичных материалов. 
			span.mobile-hidden Бесплатно замерим и дадим Вам добрые советы. 
		form(data-action="/send_notification.php", autocomplete="off").callme.home__callme.showing.showing-3
			input(type="hidden", name="header", value="Позвоните мне")
			input(type="hidden", name="text", value="Отправлено с первого слайда")
			.callme__text Оставьте свой телефон — мы позвоним и поможем оформить заказ прямо сейчас
			label.featured-input(data-active="M302,59c0,1.104-1.896,3-3,3c0,0-126,5-144,5S11,62,11,62c-1.104,0-3-1.896-3-3c0,0-5-6-5-24s5-24,5-24c0-1.104,1.896-3,3-3c0,0,126-5,144-5s144,5,144,5c1.104,0,3,1.896,3,3c0,0,5,6,5,24S302,59,302,59z")
				input.featured-input__input#phone_input.callme__phone(type="phone", name="phone", placeholder="+7 (___) ___-__-__")
				svg(viewBox="0 0 310 70", preserveAspectRatio="xMinYMin").featured-input__svg
					path(fill="none", stroke-width="2", d="M301,59c0,1.104-0.896,2-2,2H155H11c-1.104,0-2-0.896-2-2V35V11c0-1.104,0.896-2,2-2h144h144c1.104,0,2,0.896,2,2v24V59z")
			span.delimeter
			span.featured-input.featured-input_154(data-active="M162,59c0,1.104-1.896,3-3,3c0,0-56,5-74,5s-74-5-74-5c-1.104,0-3-1.896-3-3c0,0-5-6-5-24s5-24,5-24c0-1.104,1.896-3,3-3c0,0,56-5,74-5s74,5,74,5c1.104,0,3,1.896,3,3c0,0,5,6,5,24S162,59,162,59z")
				button.callme__btn.featured-input__input Жду звонка
				svg(viewBox="0 0 170 70", preserveAspectRatio="xMinYMin").featured-input__svg
					path(stroke-width="2", d="M161,59c0,1.104-0.896,2-2,2H85H11c-1.104,0-2-0.896-2-2V35V11c0-1.104,0.896-2,2-2h74h74c1.104,0,2,0.896,2,2v24V59z")
		button(onclick="if(!ll.resp.mobileLandscape){$('html,body').animate({scrollTop: ll.slides.comix.$block.height()});}").home__next.showing.showing-4
			span Хотите узнать, как мы работаем?
			svg.icon.icon-arrow_down.home__next-icon
				use(xlink:href="img/icons.svg#arrow_down")
