.popup
	.popup__bg
	article.popup__box
		header.popup__header
			.popup__filler
			.popup__corner(data-altpath="M71,73H19V21c0,0,1.751-0.033,2,0c15,2,8,42,8,42s40-7,42,8C71.033,71.248,71,73,71,73z")
				svg(width='92', height='92', viewbox='0 0 92 92', preserveAspectRatio="xMinYMin")
					polygon(fill='#E6EB99', points='71,72 20,72 20,21 24,21 71,68')
					path(fill='#D0D42F', d='M70.985,73H19V21c0,0,1.742,0,1.992,0C38,21,71,21,71,21s0,34.996-0.013,50.004C70.987,71.254,70.985,73,70.985,73z')
			button.popup__close
				svg.icon.icon-close
					use(xlink:href="/img/icons.svg#close")
		.popup__main
aside.popup__helpers
	//- Feedback
	.popup__content.feedback
		section.popup__body
			img.popup__img(src="/img/man_for_add_comments.png", width="119", height="139")
			.popup__title Вы восхищены или хотите задать нам вопрос?
			form(data-action="/send_notification.php", autocomplete="off").popup__form.feedback
				input(type="hidden", name="header")
				label.featured-input.featured-input_block(data-active="M262,59c0,1.104-1.896,3-3,3c0,0-106,5-124,5S11,62,11,62c-1.104,0-3-1.896-3-3c0,0-5-6-5-24s5-24,5-24c0-1.104,1.896-3,3-3c0,0,106-5,124-5s124,5,124,5c1.104,0,3,1.896,3,3c0,0,5,6,5,24S262,59,262,59z")
					input.featured-input__input(type="email", placeholder="Ваш e-mail", name="email")
					svg(viewBox="0 0 270 70", preserveAspectRatio="none").featured-input__svg
						path(stroke="none", fill="#fff", d="M261,59c0,1.104-0.896,2-2,2H135H11c-1.104,0-2-0.896-2-2V35V11c0-1.104,0.896-2,2-2h124h124c1.104,0,2,0.896,2,2v24V59z")
				label.featured-input.featured-input_block(data-active="M262,59c0,1.104-1.896,3-3,3c0,0-106,5-124,5S11,62,11,62c-1.104,0-3-1.896-3-3c0,0-5-6-5-24s5-24,5-24c0-1.104,1.896-3,3-3c0,0,106-5,124-5s124,5,124,5c1.104,0,3,1.896,3,3c0,0,5,6,5,24S262,59,262,59z")
					textarea.featured-input__input(placeholder="Ваш вопрос или восхищение", name="text")
					svg(viewBox="0 0 270 70", preserveAspectRatio="none").featured-input__svg
						path(stroke="none", fill="#fff", d="M261,59c0,1.104-0.896,2-2,2H135H11c-1.104,0-2-0.896-2-2V35V11c0-1.104,0.896-2,2-2h124h124c1.104,0,2,0.896,2,2v24V59z")

				span.featured-input.featured-input_194(data-active="M202,59c0,1.104-1.896,3-3,3c0,0-76,5-94,5s-94-5-94-5c-1.104,0-3-1.896-3-3c0,0-5-6-5-24s5-24,5-24c0-1.104,1.896-3,3-3c0,0,76-5,94-5s94,5,94,5c1.104,0,3,1.896,3,3c0,0,5,6,5,24S202,59,202,59z")
					button.card__btn.featured-input__input(data-type="phone", data-header="Узнать больше") Отправить
					svg(viewBox="0 0 210 70", preserveAspectRatio="xMinYMin").featured-input__svg
						path(stroke-width="2", d="M201,59c0,1.104-0.896,2-2,2h-94H11c-1.104,0-2-0.896-2-2V35V11c0-1.104,0.896-2,2-2h94h94c1.104,0,2,0.896,2,2v24V59z")
	
	//- Phone
	.popup__content.phone
		section.popup__body
			img.popup__img(src="/img/man_approve.png", width="193", height="128")
			.popup__title Оставьте свой номер телефона
			form(data-action="/send_notification.php", autocomplete="off").popup__form.phone
				input(type="hidden", name="header")
				input(type="hidden", name="text")
				label.featured-input.featured-input_block(data-active="M262,59c0,1.104-1.896,3-3,3c0,0-106,5-124,5S11,62,11,62c-1.104,0-3-1.896-3-3c0,0-5-6-5-24s5-24,5-24c0-1.104,1.896-3,3-3c0,0,106-5,124-5s124,5,124,5c1.104,0,3,1.896,3,3c0,0,5,6,5,24S262,59,262,59z")
					input.featured-input__input.phone#phone_input2(type="phone", name="phone", placeholder="+7 (___) ___-__-__")
					svg(viewBox="0 0 270 70", preserveAspectRatio="none").featured-input__svg
						path(stroke="none", fill="#fff", d="M261,59c0,1.104-0.896,2-2,2H135H11c-1.104,0-2-0.896-2-2V35V11c0-1.104,0.896-2,2-2h124h124c1.104,0,2,0.896,2,2v24V59z")
				span.featured-input.featured-input_194(data-active="M202,59c0,1.104-1.896,3-3,3c0,0-76,5-94,5s-94-5-94-5c-1.104,0-3-1.896-3-3c0,0-5-6-5-24s5-24,5-24c0-1.104,1.896-3,3-3c0,0,76-5,94-5s94,5,94,5c1.104,0,3,1.896,3,3c0,0,5,6,5,24S202,59,202,59z")
					button.card__btn.featured-input__input(data-type="phone", data-header="Узнать больше") Отправить
					svg(viewBox="0 0 210 70", preserveAspectRatio="xMinYMin").featured-input__svg
						path(stroke-width="2", d="M201,59c0,1.104-0.896,2-2,2h-94H11c-1.104,0-2-0.896-2-2V35V11c0-1.104,0.896-2,2-2h94h94c1.104,0,2,0.896,2,2v24V59z")
		footer.popup__footer мы гарантируем, что никогда не передадим номера телефонов клиентов третьим лицам
	
	//- Approve form
	.popup__content.approve
		section.popup__body
			img(src="/img/man_approve.png", width="193", height="128")
			.popup__title.reponse
			span.featured-input.featured-input_194(data-active="M202,59c0,1.104-1.896,3-3,3c0,0-76,5-94,5s-94-5-94-5c-1.104,0-3-1.896-3-3c0,0-5-6-5-24s5-24,5-24c0-1.104,1.896-3,3-3c0,0,76-5,94-5s94,5,94,5c1.104,0,3,1.896,3,3c0,0,5,6,5,24S202,59,202,59z")
				button.card__btn.featured-input__input(onclick="ll.closePopup();") Закрыть
				svg(viewBox="0 0 210 70", preserveAspectRatio="xMinYMin").featured-input__svg
					path(stroke-width="2", d="M201,59c0,1.104-0.896,2-2,2h-94H11c-1.104,0-2-0.896-2-2V35V11c0-1.104,0.896-2,2-2h94h94c1.104,0,2,0.896,2,2v24V59z")