.reviews__bg
article.reviews
	.wrp.can-move-to-left
		.reviews__titles.showing.showing-1
			h2.reviews__title.condensed О нас хорошо говорят
			h3.reviews__subtitle 107 отзывов от простых людей
		.reviews__holder.showing.showing-2
			.reviews__items
				ul.reviews__list
					- for item in [26,27,28,29]
						li(class="reviews__item #{(item==26)?'active':''}")
							.review
								.review__icons
									+social_icon(item % 4, 'left')
									+social_icon((41 - item) % 4, 'right')
								section.review__main
									img.review__avatar(src="/img/tmp/ava1.png")
									div.reveiw__name Елена Ревякина, #{item} лет
									p.review__text Для меня очень важна безопасность моего ребенка, а в Сити Жалюзи это ставят в один ряд с высоким качеством. Я беспокоилась что мне не понравятся предложенные специалистом каталоги и образцы с жалюзи, а зря! Такого огромного ассортимента и вариантов жалюзи вы не увидите ни в одном магазине!
			.reviews__buttons
				button.reviews__slider-btn.reviews__prev
					svg.icon.icon-arrowlight_left
						use(xlink:href="/img/icons.svg#arrowlight_left")
				button.reviews__slider-btn.reviews__next
					svg.icon.icon-arrowlight_right
						use(xlink:href="/img/icons.svg#arrowlight_right")
		span.showing.showing-3.reviews__btn-holder.featured-input.featured-input_254(data-active="M262,59c0,1.104-1.896,3-3,3c0,0-106,5-124,5S11,62,11,62c-1.104,0-3-1.896-3-3c0,0-5-6-5-24s5-24,5-24c0-1.104,1.896-3,3-3c0,0,106-5,124-5s124,5,124,5c1.104,0,3,1.896,3,3c0,0,5,6,5,24S262,59,262,59z")
			button.reviews__btn.featured-input__input.popupBtn(data-type="feedback", data-header="Обратная связь") Написать свой отзыв
			svg(viewBox="0 0 270 70", preserveAspectRatio="xMinYMin").featured-input__svg
				path(stroke-width="2", d="M261,59c0,1.104-0.896,2-2,2H135H11c-1.104,0-2-0.896-2-2V35V11c0-1.104,0.896-2,2-2h124h124c1.104,0,2,0.896,2,2v24V59z")
	